.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo{
    background-color: brown;
    color: white;
}

.menu{
    background-color: bisque;
    border: 4px;
    color: darkgreen;
    display: flex;
    gap: 20px;
    list-style: none;
}