body{
    background-color: black;
     text-align: center;
}
.container{
    width: 40%;
    margin: auto;
}
.plan{
width: 100%;
border: 8px solid white;
}
#sun{
    text-transform:lowercase;
    font-size: medium;
    font-style: italic;
    color: azure;
}
#god{
    text-align: center;
    text-transform: capitalize;
    color: violet;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}