h2{
    color: orange;
}
li{
    color: blue;
}
.favorite{
    color: red;
    font-weight: bold;
    text-underline-position: below;
}
#special-fruit{
    color: green;
    font-style: italic;
}
li:first-child {
    text-decoration: underline;
}
li:hover {
    background-color: yellow;
}