h1{
    color: darkblue;
}
p{
    color: grey;
}
li{
    color: brown;
    font-size: 18px;
}
.fav{
    color: red;
    font-weight: bold;
}
.highlight{
    background-color: yellow;
}
.underline{
    text-decoration: underline;
}
#specai-book{
    color: purple;
    font-style: italic;
    font-size: 22px;
}
li:first-child{
    font-weight: bold;
}
li:last-child{
    background-color: beige;
}
li:nth-child(2){
    background-color: blue;
}
li:hover{
    background-color: lightgreen;
}
